{
    "parser": "babel-eslint",
    "env": {
        "browser": true
    },
    "extends": "airbnb",
    "rules": {
        "no-param-reassign": ["error", { "props": false }],
        "no-prototype-builtins:": ["off"]
    }
}
